<div style="display: block;margin-left: 22px;width: 500px;background-color: #F8F8F6;box-shadow: 0px 0px 3px 0px #aaa;border: 1px solid #d4d0ce;border-radius: 5px;column-count: 1;padding: 15px;border-radius: 8px;border:3px double rgb(139,137,136);">
<h5 style="color: #793A2F;font-weight: bold;border-bottom: 1px;border-color: rgb(121,58,47);border-style: none none solid none;font-size: 20px;margin-top: 0px;margin-bottom: 5px;">{{名称}}</h5>
<div style="color: rgb(102,100,100);font-style: italic;">{{副栏}}</div>
<span style="float:right;width:50%"><span style="color:#793A2F;font-weight:bold;">先攻&nbsp;</span>{{先攻}}</span>
<p style="margin-top:0px;margin-bottom:0px"><span style="color:#793A2F;font-weight:bold;">AC&nbsp;</span>{{护甲等级}}<br>
<span style="color:#793A2F;font-weight:bold;">HP&nbsp;</span>{{生命值}}<br>
<span style="color:#793A2F;font-weight:bold;">速度&nbsp;</span>{{速度}}</p>
<table style="width: 100%;color: #793A2F;min-width: 500px;text-align: center;white-space: nowrap;border-collapse: collapse"><tr style="font-size: 12px;color: rgb(102,100,100);"><th style="width: 40px;"></th><th style="width: 40px;"></th><th style="width: 40px;">调整</th><th style="width: 40px;">豁免</th><td style="width: 5px"></td><th style="width: 40px;"></th><th style="width: 40px;"></th><th>调整</th><th style="width: 40px;">豁免</th><td style="width: 5px"></td><th style="width: 40px;"></th><th></th><th style="width: 40px;">调整</th><th style="width: 40px;">豁免</th></tr>
<tr><td style="background-color: #e9e3d6"><strong>力量</strong></td><td style="background-color: #e9e3d6">{{力量}}</td><td style="background-color: #d8d0c9">{{力量调整}}</td><td style="background-color: #d8d0c9">{{力量豁免}}</td>
<td></td>
<td style="background-color: #e9e3d6"><strong>敏捷</strong></td><td style="background-color: #e9e3d6">{{敏捷}}</td><td style="background-color: #d8d0c9">{{敏捷调整}}</td><td style="background-color: #d8d0c9">{{敏捷豁免}}</td>
<td></td>
<td style="background-color: #e9e3d6"><strong>体质</strong></td><td style="background-color: #e9e3d6">{{体质}}</td><td style="background-color: #d8d0c9">{{体质调整}}</td><td style="background-color: #d8d0c9">{{体质豁免}}</td></tr>
<tr><td style="background-color: #d2d6ce"><strong>智力</strong></td><td style="background-color: #d2d6ce">{{智力}}</td><td style="background-color: #cbc6c6">{{智力调整}}</td><td style="background-color: #cbc6c6">{{智力豁免}}</td>
<td></td>
<td style="background-color: #d2d6ce"><strong>感知</strong></td><td style="background-color: #d2d6ce">{{感知}}</td><td style="background-color: #cbc6c6">{{感知调整}}</td><td style="background-color: #cbc6c6">{{感知豁免}}</td>
<td></td>
<td style="background-color: #d2d6ce"><strong>魅力</strong></td><td style="background-color: #d2d6ce">{{魅力}}</td><td style="background-color: #cbc6c6">{{魅力调整}}</td><td style="background-color: #cbc6c6">{{魅力豁免}}</td></tr>
</table>
<p style="margin-top:0px;margin-bottom:0px">{{内容}}</p>
</div>