<div class="stat-block">
<h5>{{名称}}</h5>
<div class="sub-line">{{副栏}}</div>
<table><tr><td><strong>AC </strong>{{护甲等级}}</td><td width="40%"><strong>先攻 </strong>{{先攻}}</td></tr>
<tr><td><strong> HP </strong>{{生命值}}</td></tr>
<tr><td><strong>速度 </strong>{{速度}}</td></tr></table>
<table class="stat-abilities"><tr><th></th><th></th><th>调整</th><th>豁免</th><td style="WIDTH: 5px"></td><th></th><th></th><th>调整</th><th>豁免</th><td style="WIDTH: 5px"></td><th></th><th></th><th>调整</th><th>豁免</th></tr>
<tr><td class="c1"><strong>力量</strong></td><td class="c1">{{力量}}</td><td class="c2">{{力量调整}}</td><td class="c2">{{力量豁免}}</td>
<td></td>
<td class="c1"><strong>敏捷</strong></td><td class="c1">{{敏捷}}</td><td class="c2">{{敏捷调整}}</td><td class="c2">{{敏捷豁免}}</td>
<td></td>
<td class="c1"><strong>体质</strong></td><td class="c1">{{体质}}</td><td class="c2">{{体质调整}}</td><td class="c2">{{体质豁免}}</td></tr>
<tr><td class="c3"><strong>智力</strong></td><td class="c3">{{智力}}</td><td class="c4">{{智力调整}}</td><td class="c4">{{智力豁免}}</td>
<td></td>
<td class="c3"><strong>感知</strong></td><td class="c3">{{感知}}</td><td class="c4">{{感知调整}}</td><td class="c4">{{感知豁免}}</td>
<td></td>
<td class="c3"><strong>魅力</strong></td><td class="c3">{{魅力}}</td><td class="c4">{{魅力调整}}</td><td class="c4">{{魅力豁免}}</td></tr>
</table>
<table>
{{可选数据}}
</table>
<P>
{{内容}}
</P>
</div>